/* custom css goes here */

.intro {
    margin-bottom: 50px;
    margin-top: 60px;
    font-size: large;
    margin-right: 300px;
}

.mission {
    font-size: large;
    margin-top: 120px;
    margin-left: 300px;
}

.container {
    margin-top: 50px;
}

.about {
    margin-right: 130px;
    margin-top: 80px;
    font-size: large;
    margin-bottom: 100px;
}

.image {
    margin-top: 80px ;
}

.contact {
    margin-top: 200px;
    margin-left: 200px;
}